{
  "frc": {
    "banner": {
      "mrcc": 0,
      "rcd": 0,
      "mrlc": 0,
      "rld": 0
    },
    "inter": {
      "mrcc": 5,
      "rcd": 6000,
      "mrlc": 1,
      "rld": 0
    },
    "rewarded": {
      "mrcc": 0,
      "rcd": 0,
      "mrlc": 0,
      "rld": 0   
    }
  },
  "units": [
    {
      "id": "ca-app-pub-4073866383873410/1183218951",
      "floor": "0.01",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/3803559152",
      "floor": "0.03",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/4791291473",
      "floor": "0.06",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/4452941203",
      "floor": "0.08",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/4599719789",
      "floor": "0.09",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/3139859535",
      "floor": "0.16",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/1500680083",
      "floor": "0.31",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/2165128131",
      "floor": "0.7",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/5621991567",
      "floor": "2.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/4019032211",
      "floor": "1.5",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/6793518729",
      "floor": "1.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/9268593119",
      "floor": "0.01",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/2496015215",
      "floor": "0.1",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/1390103096",
      "floor": "0.3",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/6061809413",
      "floor": "0.39",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/8346108278",
      "floor": "0.6",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/5844233289",
      "floor": "1.3",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/3435646074",
      "floor": "1.4",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/1182933542",
      "floor": "1.5",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/8869851878",
      "floor": "2.25",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/4529499220",
      "floor": "5.0",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/1903335881",
      "floor": "10.0",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/5922208611",
      "floor": "25.0",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/4557156051",
      "floor": "52.0",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/4469526140",
      "floor": "0.01",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/4094121620",
      "floor": "1.2",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/3156444473",
      "floor": "2.4",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/4222114133",
      "floor": "5",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/1595950793",
      "floor": "6",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/6582599889",
      "floor": "9",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/9017191538",
      "floor": "0.2",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/6762563288",
      "floor": "0.5",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/5511145073",
      "floor": "4.5",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/2964872783",
      "floor": "7",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/4136399943",
      "floor": "8",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/1510236603",
      "floor": "11",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/9197154938",
      "floor": "19",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/9496537832",
      "floor": "1000",
      "type": "rewarded_video"
    }
  ]
}
