{
  "frc": {
     "banner": {
      "mrcc": 2,
      "rcd": 30000,
      "mrlc": 2,
      "rld": 5000
    }
  },
  "units": [
    {
      "id": "ca-app-pub-4073866383873410/5381143989",
      "floor": "0.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/7348831779",
      "floor": "0.02",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/4517836061",
      "floor": "0.08",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-4073866383873410/3204754393",
      "floor": "0.0",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/5803267079",
      "floor": "1.02",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/2385786304",
      "floor": "1.5",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/2803390567",
      "floor": "2.55",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/4821357898",
      "floor": "3.06",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/2096505099",
      "floor": "4.08",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-4073866383873410/9479793796",
      "floor": "0.0",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/9171945682",
      "floor": "3.8",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/7504205442",
      "floor": "7.6",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/8517888302",
      "floor": "11.4",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/4529723597",
      "floor": "15.2",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/2907332343",
      "floor": "19",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/7505052907",
      "floor": "22.8",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/6191971230",
      "floor": "26.6",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/3565807891",
      "floor": "30.4",
      "type": "rewarded_video"
    }
  ]
}
