{
  "frc": {
    "banner": {
      "mrcc": 0,
      "rcd": 10000,
      "mrlc": 0,
      "rld": 0
    },
    "inter": {
      "mrcc": 0,
      "rcd": 10000,
      "mrlc": 0,
      "rld": 0
    },
    "rewarded": {
      "mrcc": 1,
      "rcd": 10000,
      "mrlc": 1,
      "rld": 0   
    }
  },
  "units": [
    
    {
      "id": "ca-app-pub-4073866383873410/4469526140",
      "floor": "0.01",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/4094121620",
      "floor": "1.2",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/6582599889",
      "floor": "9",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-4073866383873410/9017191538",
      "floor": "0.2",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-4073866383873410/6762563288",
      "floor": "0.5",
      "type": "rewarded_video"
    },
    
  ]
}
