{
  "frc": {
    "banner": {
      "mrcc": 5,
      "rcd": 7000,
      "mrlc": 1,
      "rld": 10000,
      "lto":5000
    },
    "inter": {
      "mrcc": 2,
      "rcd": 80000,
      "mrlc": 1,
      "rld": 5000,
      "lto":5000
    },
    "rewarded": {
      "mrcc": 2,
      "rcd": 10000,
      "mrlc": 1,
      "rld": 0,
      "lto":5000
    }
  },
  "units": [
    {
      "id": "ca-app-pub-2565988369771372/1779631660",
      "floor": "0.01",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/3989479147",
      "floor": "0.03",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/4837039843",
      "floor": "0.06",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/8963987114",
      "floor": "0.08",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/3523958175",
      "floor": "0.09",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/5997367833",
      "floor": "0.10",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/8584713160",
      "floor": "0.16",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/1977311909",
      "floor": "0.31",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/2398578765",
      "floor": "0.7",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/7267762068",
      "floor": "2.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/4684286165",
      "floor": "3.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/2647234045",
      "floor": "4.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/4052611212",
      "floor": "5.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/9893925400",
      "floor": "1.5",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/6146252088",
      "floor": "1.0",
      "type": "banner",
      "btype": 1
    },
    {
      "id": "ca-app-pub-2565988369771372/3151874340",
      "floor": "0.01",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-2565988369771372/9525711009",
      "floor": "0.1",
      "type": "interstitial"
    },
    {
      "id": "ca-app-pub-2565988369771372/9801043179",
      "floor": "0.01",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-2565988369771372/4964350162",
      "floor": "1.2",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-2565988369771372/8841931715",
      "floor": "2.4",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-2565988369771372/3584911194",
      "floor": "4.75",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-2565988369771372/1049155889",
      "floor": "5",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-2565988369771372/8224938323",
      "floor": "6",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-2565988369771372/8544502524",
      "floor": "9",
      "type": "rewarded_inter"
    },
    {
      "id": "ca-app-pub-2565988369771372/2338186829",
      "floor": "0.2",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/2384334574",
      "floor": "0.5",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/8837237877",
      "floor": "1.0",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/7524156207",
      "floor": "2.0",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/3577172335",
      "floor": "3.0",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/6554689463",
      "floor": "5.0",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/5461089901",
      "floor": "4.5",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/5726767491",
      "floor": "7",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/1787522487",
      "floor": "8",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/2276523369",
      "floor": "11",
      "type": "rewarded_video"
    },
    {
      "id": "ca-app-pub-2565988369771372/8708154059",
      "floor": "19",
      "type": "rewarded_video"
    }
  ]
}
